.pictures
{
  border: width 25px;
  width: 50%;

  background-color: antiquewhite;
  border: white 5px;
  margin-left: 25%;
  color: black;
  text-align: center;
}

*
{
    background-color: antiquewhite;
}

img
{
    border: 5px solid white;
}
